body{
    background-color: black;
    font-family: 'Handlee', cursive;
}
#postcard{
    background-color: white;
    width: 525px;
    height: 374px;
    margin: 15% 30%
}
.cabecera{
    height: 70px;
    position: relative;
    padding-top: 10px;
}
#titulo{
    padding-left: 10px;
    position: absolute;
}
#imagen{
    float: right;
    padding-right: 10px;
}
#izquierda{
    width: 50%;
    float: left;
    padding-top: 15px;
}
p.texto1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 10px;
}
#derecha{
    width: 45%;
    float: right;
    padding-right: 5%;
    text-align: right;
}
.formulario{
    font-family : 'Handlee', cursive;
    font-size: 20px;
    color: gray;
    width: 230px;
    margin-top: 5px;
    border-width: 1px;
    border-style: hidden hidden solid hidden;
}
#pie{
    clear: both;
}
.boton{
    font-family : 'Handlee', cursive;
    font-size: 18px;
    color: black;
    width: 30%;
    margin-left: 35%;
    background-color: lightgray;
}